$primaryColor: #203656;
$primaryWhite: #fff;
$secondaryColor: #79889e;
$hoverColor: #fe4f70;
$textColor: #8F9BAD;
$textColor2: #707A88;
$borderColor: #e7e7e7;
$gradiantColor:linear-gradient(to right, #fe4f70 0%, #ffa387 61%, #ffa387 100%);