#four04{
    margin: 100px 0px;
    h3{
        color: $primaryColor;
        font-size: 40px;
        font-weight: 700;
    }
    p{
        font-size: 15px;
        color: $textColor;
        margin: 30px 0px;
    }
    a{
        font-size: 14px;
        color: $primaryWhite;
        padding: 10px 30px;
        background: $gradiantColor;
        border-radius: 20px;
        transition: all linear .3s;
        &:hover{
            background: linear-gradient(to left, #fe4f70 0%, #ffa387 61%, #ffa387 100%);
        }
    }
}